@import url("https://fonts.cdnfonts.com/css/azoft-sans");
/*Root para tener un código mas eficiente y reutilizable*/
:root {
    --primary-color: #9d9d9d;
    --secondary-color: #fff;
    --background-color: #0d0d0d;
    --border-radius: 10px;
    --logo-font: 'Azoft Sans', sans-serif;
    --main-font: 'Poppins', sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--secondary-color);
    color: #e0e0e0;
    line-height: 1.6;
}
/*Sección header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 a {
    font-family: var(--logo-font);
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 12px 18px;
    transition: all 0.3s;
    border-radius: 50px;
}

.nav-links a:hover {
    color: var(--primary-color);
}

main {
    padding-top: 100px;
    text-align: center;
}
/*Contenedor donde se encuentran los vehiculos*/
.vehicle-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 40px auto;
    background: var(--secondary-color);
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-image img {
    width: 100%;
    border-radius: 10px;
}

.vehicle-details {
    text-align: left;
    margin-top: 20px;
}

.vehicle-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.vehicle-details p {
    margin-bottom: 10px;
}
/*Contenedor de las especificaciones del coche*/
.specs {
    margin-top: 20px;
}

.specs ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.specs ul li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.buy-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: none;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #0065e0;
    border: 1px solid #ffffff;
    transform: scale(1.05);
}
/*Seccion del footer*/
footer {
    background-color: #111;
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
 }
 
 .footer-links {
    list-style: none;
    padding: 0;
 }
 
 .footer-links li {
    display: inline;
    margin: 0 10px;
 }
 
 .footer-links a {
    color: var(--secondary-color);
    text-decoration: none;
 }
/*Header responsive y especificaciones*/
@media screen and (max-width: 768px) {
    header h1{
      font-size: 12px;
    }
    .nav-links{
      display: flex;
      font-size: 10px;
    }
    .specs {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
     }
  
     .spec-item {
        width: 80%;
     }
  }